@media (max-device-width: 480px) {
 .row .iphone {
        background-image: none;
    }
}

@font-face{
    font-family:myFont;
    src: url(fonts/font-awesome/FontAwesome.otf)
}

.body{
    margin-bottom: 0;
    padding-bottom: 0;
}

.header{
    background-image: url("images/header-bg.png");
    color: white;
    font-family: sans-serif;
}

.header .navbar.navbar-default {
    background: none;
    border: none;
}

h1{
    font-family: myFont, serif;
    font-size: 40px;
}

h2{
    font-size: 22px;
}

.header .iphone{
    background-image: url(images/iphone5.png);
    background-repeat: no-repeat;
    height: 300px;
    padding-top: 50px;
    margin-top: 20px;
}

.row{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.header .btn{
    background-color: transparent;
    color: white;
    border: solid thin white;
    font-family: sans-serif;
    padding: 10px 15px;
    border-radius: 0;
    margin-top: 2%;
    margin-bottom: 20px;

}

.border-left{
    border-left: 3px solid deepskyblue;
    padding-left: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.grey{
    background-color: #F4F4F4;
    padding-top: 5%;
    margin-right: 0;
    padding-right: 0;
    color: #0f0f0f;
}

.greyRow{
    background-image: url(images/ipad-flat.png);
    background-repeat: no-repeat;
    height:450px;
    position: static;
    left: 0;
    bottom: 0;
    background-position: right bottom;
    background-size: contain;
}

.grey .col-md-5{
    padding: 20px;
}



h3 p {

    font-family: initial,sans-serif;
    color: darkslategray;
}

h3{
    padding-top: 0;
    padding-bottom: 5%;
}

h4{
    text-align: center;
}

.greyRow .btn{
    background-color: transparent;
    color: darkcyan;
    border: solid thin darkcyan;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.dogUp .row{
    background-image: url("images/devices.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    height: 350px;
    margin-top: 150px;
    width: 100%;
}

.dogUp{
    height: 500px;
}
.dogUp .col-md-3{
    display: inline-table;
}

.textDog{
    padding: 30px;
    font-size: 14px;
    text-align: justify;

}

.dog{
    margin-top: 20px;
    background-color: transparent;
    color: red;
    border: solid thin red;
    border-radius: 0;

}


.beer{
    background-image: url(images/donate-bg.png);
    height: 300px;
    padding-top: 80px;
}

.beer .container-beer{
    font-family: sans-serif;
    color: white;
}

.beer .btn{
    background-color: transparent;
    border: solid thin white;
    color: white;
    padding: 15px 20px;
    border-radius: 0;
    margin-top: 20px;
}


#face{
    width: 46px;
    height:44px;
    background: url("images/preview.jpg") -20px 332px;
    margin-right: 10px;
}
#twitter{
    width: 46px;
    height:44px;
    background: url("images/preview.jpg") -60px 332px;
    margin-right: 10px;
}

#bola{
    width: 46px;
    height:44px;
    background: url("images/preview.jpg") -220px 332px;
    margin-right: 10px;
}

#gmail {
    padding: 10px;
    width: 46px;
    height:44px;
    background: url("images/preview.jpg") -99px 332px;
    margin-right: 10px;
}

.socialMedias{
    height: 350px;
    background-color: #e3dad3;
    padding-left: 0;
    padding-top: 80px;
    display: inherit;

}

.subscription{
    padding-left: 0;
    text-align: center;
    display: inline-flex;
}

.subscription p{
    padding-right: 3px;
    padding-top: 7px;
    font-style: italic;
    color: #5e5e5e;
    display: table;
}


.socialMedias .list-inline{

    background-color: transparent;
    display: inline-flex;
    padding-left: 30px;
}

.input-group{
    width: 230px;
}

.navbar-static-bottom{
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
}

.rodape {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: small;
    display: inline-flex;
    background-color: white;
}

.rodape .navbar-text{
    text-align: center;
    margin-left: 30%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.rodape .btn{
    background-position: right center;
    color: grey;
    border-color: gray;
    margin-left: 30%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:10px ;
}

.featureImg{
    margin-bottom: 15px;
    width: 100%;
}


.allBody{
    margin-bottom: 50px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}